* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: hsl(0, 0%, 100%);
  border-radius: 15px;
  position: absolute;
  width: 350px;
  height: 68vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

img {
  width: 320px;
  border-radius: 10px;
  margin: 0 10px;
}
.content h1 {
  font-family: "Outfit", sans-serif;
  margin: 13px;
  padding-top: 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
.content p {
  font-family: "Outfit", sans-serif;
  margin: 0px 25px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding-bottom: 10px;
}
